{{!-- <!--Section: slider starts here -->
<div class="row"> 
    {{#if hasErrors}}
    <div>
        <span class="new badge red">

            {{# each messages }}
            <h3>{{this}}</h3>
            {{/each}}
        </span>
    </div>
    {{/if}}
</div> --}}
<section class="slider">
    <ul class="slides">
        <li>
            <img src="/images/resort1.jpg">
            <div class="caption center-align">
                <h2>Take Your Dream vacation</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">lorem ipsum</h5>
            </div>
        </li>
        <li>
            <img src="/images/resort2.jpg">
            <div class="caption left-align">
                <h2>Left Aligned Caption</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="/images/resort3.jpg">
            <div class="caption right-align">
                <h2>Right Aligned Caption</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Here's our small slogan.</h5>
            </div>
        </li>
    </ul>
</section>
<!--Section: slider ends here -->



<!-- Section: Search starts here -->
<section id="search" class="section-search teal darken-1 white-text center scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3>Search Destination</h3>
                <form action="/places/allplaces" method="get">
                    <div class="input-field">
                        <input type="text" name="search" class="white grey-text autocomplete" id="autocomplete-input"
                            placeholder="Aruba, Cancun, etc...">

                        </input>
                        <input type="submit" value="search">
                    </div>
                </form>

            </div>
        </div>
    </div>

</section>
<!-- Section: Search ends here -->


<!-- Section: Icon Boxes starts here-->
<section class="section section-icons white ligten-4 center">
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <div class="card-panel">
                    <i class="material-icons large teal-text">
                        room</i>
                    <h4>Pick Where</h4>
                    <p>Lorem ipsum lakjfflj afjjl jdsfljjfjf ljffj ljflj lajsdffj jdsffj ljsdfljsdflj sjdfljsdflj
                        lssjfl;js l;fjsdlf;j ljsddlf;j</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card-panel">
                    <i class="material-icons large teal-text">
                        store</i>
                    <h4>Travel Shop</h4>
                    <p>Lorem ipsum lakjfflj afjjl jdsfljjfjf ljffj ljflj lajsdffj jdsffj ljsdfljsdflj sjdfljsdflj
                        lssjfl;js l;fjsdlf;j ljsddlf;j</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card-panel">
                    <i class="material-icons large teal-text">
                        airplanemode_active </i>
                    <h4>Fly cheap</h4>
                    <p>Lorem ipsum lakjfflj afjjl jdsfljjfjf ljffj ljflj lajsdffj jdsffj ljsdfljsdflj sjdfljsdflj
                        lssjfl;js l;fjsdlf;j ljsddlf;j</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Icon Boxes ends here-->

<!-- Section: Popular places starts here-->
<section id="popular" class="section section-popular scrollspy">
    <div class="container">
        <div class="row">
            <h4 class="center"><span class="teal-text">Popular</span> Places</h4>
            {{#each places}}
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{imagePath}}">
                        <span class="card-title">{{title}}</span>
                    </div>
                    <div class="card-content">
                        {{description}}
                    </div>
                    <div class="card-action">
                        <a href="/places/indplace/{{id}}"><button class="btn right waves-effect waves-light">Read Moree</button></a>

                    </div>

                </div>
            </div>
            {{else}}
            <p> no places</p>
            {{/each}}


        </div>


    </div>
</section>
<!-- Section: Popular places ends here-->

<!-- Seciton: Contact Area starts here -->
<section id="contact" class="section section-contact scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <div class="card-panel teal white-text center">
                    <i class="material-icons">email</i>
                    <h5>Contact us for Booking</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    </p>
                </div>
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h4>Location</h4>
                    </li>
                    <li class="collection-item">TravelGo Agency</li>
                    <li class="collection-item">555 Beach Rd, Suite 33</li>
                    <li class="collection-item">Miami, FL 55555</li>
                </ul>
            </div>
            <div class="col s12 m6">
                <div class="card-panel grey lighten-2">
                    <h5>Please fill out this form</h5>
                
                    <form action="/contact" method="post" class="col s12">
                        <div class="input-field">
                            <input type="text" value="{{name}}" name="name" placeholder="Name">
                        </div>
                        <div class="input-field">
                            <input type="text" name="email" value="{{email}}" placeholder="Email" type="email" class="validate">
                        </div>
                        <div class="input-field">
                            <input type="text" name="phone" value="{{phone}}" placeholder="Phone">
                        </div>
                        <div class="input-field">
                            <input value="" name="message" value="{{message}}" type="text" placeholder="Message">
                        </div>
                        <input type="submit" value="submit" class="btn">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Seciton: Contact Area ends here -->

<!-- Section: Footer starts here -->
<footer class="section teal darken-2 white-text center">
    <p class="flow-text"> TravelGo &copy; 2018</p>
</footer>
<!-- Section: Footer ends here -->